@import "compass/css3";

.absolute-center {
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0); 
}
.menu {
  @extend .absolute-center;
  width: 3em;
  height: 3em;
  

  .btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /*background: rgba(255,255,255, 0.15);*/
    opacity: 0;
    z-index: -10;
    cursor: pointer;
    transition: opacity 1s, z-index 0.3s, all .8s ease .2s;
    transform: translateX(0);

    .fa {
      @extend .absolute-center;
      font-size: 3em;
      transition: color 0.3s;
    }
    
    &:hover .fa {
      color: rgba(255,255,255, 0.7);

    }

    &.trigger {
      opacity: 1;
      z-index: 100;
      cursor: pointer;
      transition:transfrom .3s;
      


      .line {
        @extend .absolute-center;
        width: 60%;
        height: 6px;
        background: rgb(255, 255, 255);
        border-radius: 6px;
        

        &:before, &:after {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          width: 100%;
          height: 6px;
          background: rgb(255, 255, 255);
          border-radius: 6px;
          transition: background-color 0.3s, transform 0.3s;
        }
        &:before {
          top: -12px;
          transform-origin: 25% 100%;
        }
        &:after {
          top: 12px;
          transform-origin: 25% 30%;
        }
      }
    }
  }

  .rotater {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: 50% 50%;
  }

  &.active {

    .btn-icon {
      transition: all .8s ease .8s;
      opacity: 1;
      z-index: 50;
    }
    
    .trigger {
      
      .line {
        will-change: transition;
        height: 0px;
        top: 45%;
        
        &:before {
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          width: 110%;
        }
        &:after {
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          width: 110%; 
        }
      }
    }
  }
}

$numOfElems: 6;

@for $i from 1 through $numOfElems {
  $deg: 360deg / $numOfElems;
  .rotater:nth-child(#{$i}) {
    transform: rotate($deg/-2 + $deg * ($i - 1));
    backface-visibility:hidden;

  }

  .menu.active {
    .rotater:nth-child(#{$i}) .btn-icon {
      transform: translateY(-15em) rotate($deg/2 - $deg * ($i - 1));
      backface-visibility:hidden;
    }
  }
}

