/* line 4, ../sass/sp_other_menu.scss */
.container_menu {
  display: block;
  width: 100%;
  margin-bottom: -200%;
}

/* line 10, ../sass/sp_other_menu.scss */
.profil, .container_menu ul {
  text-align: center;
  background-color: #f2ecec;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  color: #b8a7a7;
  text-transform: uppercase;
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 5px 14px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 5px 14px rgba(0, 0, 0, 0.12);
}

/* line 23, ../sass/sp_other_menu.scss */
.profil {
  width: 80%;
  display: block;
  margin: auto;
}

/* line 29, ../sass/sp_other_menu.scss */
.profil, .container_menu ul li {
  cursor: pointer;
  padding: 18px 15px;
  font-size: 5vw;
  position: relative;
  transition: all .4s;
  -webkit-transition: all .7s;
  -moz-transition: all .7s;
}
/* line 38, ../sass/sp_other_menu.scss */
.profil:hover, .container_menu ul li:hover {
  background-color: #c5b1b1;
  color: #f7e989;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
}

/* line 47, ../sass/sp_other_menu.scss */
.container_menu ul {
  opacity: 0;
  width: 80%;
  padding: 0;
  list-style: none;
  position: relative;
  z-index: 1;
  margin: auto;
  margin-top: 13px;
  pointer-events: none;
}
/* line 57, ../sass/sp_other_menu.scss */
.container_menu ul li:first-child {
  border-radius: 8px 8px 0 0;
  -webkit-border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
}
/* line 63, ../sass/sp_other_menu.scss */
.container_menu ul li:last-child {
  border-radius: 0 0 8px 8px;
  -webkit-border-radius: 0 0 8px 8px;
  -moz-border-radius: 0 0 8px 8px;
}
/* line 69, ../sass/sp_other_menu.scss */
.container_menu ul:before {
  content: '';
  position: absolute;
  top: -16px;
  right: 50px;
  border-style: solid;
  border-width: 0 14px 16px 14px;
  border-color: transparent rgba(243, 243, 243, 0) #f2ecec transparent;
}
