/* line 3, ../sass/sp_top.scss */
.absolute-center, .menu, .menu .btn .fa, .menu .btn.trigger .line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

/* line 10, ../sass/sp_top.scss */
.menu {
  width: 3em;
  height: 3em;
}
/* line 16, ../sass/sp_top.scss */
.menu .btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  /*background: rgba(255,255,255, 0.15);*/
  opacity: 0;
  z-index: -10;
  cursor: pointer;
  transition: opacity 1s, z-index 0.3s, all .8s ease .2s;
  transform: translateX(0);
}
/* line 30, ../sass/sp_top.scss */
.menu .btn .fa {
  font-size: 3em;
  transition: color 0.3s;
}
/* line 36, ../sass/sp_top.scss */
.menu .btn:hover .fa {
  color: rgba(255, 255, 255, 0.7);
}
/* line 41, ../sass/sp_top.scss */
.menu .btn.trigger {
  opacity: 1;
  z-index: 100;
  cursor: pointer;
  transition: transfrom .3s;
}
/* line 49, ../sass/sp_top.scss */
.menu .btn.trigger .line {
  width: 60%;
  height: 6px;
  background: white;
  border-radius: 6px;
}
/* line 57, ../sass/sp_top.scss */
.menu .btn.trigger .line:before, .menu .btn.trigger .line:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 6px;
  background: white;
  border-radius: 6px;
  transition: background-color 0.3s, transform 0.3s;
}
/* line 68, ../sass/sp_top.scss */
.menu .btn.trigger .line:before {
  top: -12px;
  transform-origin: 25% 100%;
}
/* line 72, ../sass/sp_top.scss */
.menu .btn.trigger .line:after {
  top: 12px;
  transform-origin: 25% 30%;
}
/* line 80, ../sass/sp_top.scss */
.menu .rotater {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: 50% 50%;
}
/* line 91, ../sass/sp_top.scss */
.menu.active .btn-icon {
  transition: all .8s ease .8s;
  opacity: 1;
  z-index: 50;
}
/* line 99, ../sass/sp_top.scss */
.menu.active .trigger .line {
  will-change: transition;
  height: 0px;
  top: 45%;
}
/* line 104, ../sass/sp_top.scss */
.menu.active .trigger .line:before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 110%;
}
/* line 109, ../sass/sp_top.scss */
.menu.active .trigger .line:after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 110%;
}

/* line 123, ../sass/sp_top.scss */
.rotater:nth-child(1) {
  transform: rotate(-30deg);
  backface-visibility: hidden;
}

/* line 130, ../sass/sp_top.scss */
.menu.active .rotater:nth-child(1) .btn-icon {
  transform: translateY(-15em) rotate(30deg);
  backface-visibility: hidden;
}

/* line 123, ../sass/sp_top.scss */
.rotater:nth-child(2) {
  transform: rotate(30deg);
  backface-visibility: hidden;
}

/* line 130, ../sass/sp_top.scss */
.menu.active .rotater:nth-child(2) .btn-icon {
  transform: translateY(-15em) rotate(-30deg);
  backface-visibility: hidden;
}

/* line 123, ../sass/sp_top.scss */
.rotater:nth-child(3) {
  transform: rotate(90deg);
  backface-visibility: hidden;
}

/* line 130, ../sass/sp_top.scss */
.menu.active .rotater:nth-child(3) .btn-icon {
  transform: translateY(-15em) rotate(-90deg);
  backface-visibility: hidden;
}

/* line 123, ../sass/sp_top.scss */
.rotater:nth-child(4) {
  transform: rotate(150deg);
  backface-visibility: hidden;
}

/* line 130, ../sass/sp_top.scss */
.menu.active .rotater:nth-child(4) .btn-icon {
  transform: translateY(-15em) rotate(-150deg);
  backface-visibility: hidden;
}

/* line 123, ../sass/sp_top.scss */
.rotater:nth-child(5) {
  transform: rotate(210deg);
  backface-visibility: hidden;
}

/* line 130, ../sass/sp_top.scss */
.menu.active .rotater:nth-child(5) .btn-icon {
  transform: translateY(-15em) rotate(-210deg);
  backface-visibility: hidden;
}

/* line 123, ../sass/sp_top.scss */
.rotater:nth-child(6) {
  transform: rotate(270deg);
  backface-visibility: hidden;
}

/* line 130, ../sass/sp_top.scss */
.menu.active .rotater:nth-child(6) .btn-icon {
  transform: translateY(-15em) rotate(-270deg);
  backface-visibility: hidden;
}
